body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(to bottom, #ff0000, hsl(58, 71%, 76%));
    height: 100%;
    color: #333;
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    background: rgba(255, 255, 255, 0.8);
    position: fixed;
    width: 100%;
    top: 0;
}

.location-help {
    display: flex;
    align-items: center;
}

.header-button {
    font-size: 16px;
    background-color: #ffcccb; /* Light pink background */
    color: #333;
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: transform 0.2s ease, background-color 0.2s ease;
}

.header-button:hover {
    background-color: #f4a6a6; /* Slightly darker pink on hover */
    transform: scale(1.05);
}

.sign-up a {
    text-decoration: none;
    color: #110101;
    background: hsl(58, 71%, 76%);
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.2s ease, transform 0.2s ease;
}

.sign-up a:hover {
    background-color:  #f4a6a6; /* Slightly darker red on hover */
    transform: scale(1.05); /* Slightly enlarge the button */
}
main {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 80px;
}

.durga-image img {
    width: 300px;
    height: auto;
    border-radius: 50%;
    margin-bottom: 20px;
}

.sos-button button {
    font-size: 24px;
    background-color: #ff0000; /* Red background */
    color: #fff; /* White text */
    padding: 20px 40px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: transform 0.2s ease, background-color 0.2s ease; /* Smooth transition */
}

.sos-button button:hover {
    background-color: #cc0000; /* Slightly darker red on hover */
    transform: scale(1.05); /* Slightly enlarge the button */
}

footer {
    display: flex;
    justify-content: space-around;
    background: rgba(255, 255, 255, 0.8);
    padding: 20px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}

.section {
    flex: 1;
    text-align: center;
}

.footer-button {
    font-size: 18px;
    background-color: hsl(58, 71%, 76%); /* Light pink background */
    color: #333;
    padding: 15px 30px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: transform 0.2s ease, background-color 0.2s ease; /* Smooth transition */
}

.footer-button:hover {
    background-color: #f4a6a6; /* Slightly darker pink on hover */
    transform: scale(1.05); /* Slightly enlarge the button */
}